# https://jvns.ca/blog/2024/02/16/popular-git-config-options/
# https://blog.gitbutler.com/how-git-core-devs-configure-git

[branch]
    sort = -committerdate

[checkout]
	workers = 0

[color "status"]
    added = green bold
    branch = yellow black bold ul
    changed = yellow bold
    deleted = red strike
    untracked = cyan

[column]
    ui = auto

[core]
    excludesfile = .git_/gitignore

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[fetch]
    fsckobjects = true
    prune = true
    pruneTags = true
    all = true

[help]
    autocorrect = prompt

[init]
   defaultBranch = main

[merge]
    conflictstyle = zdiff3

[gpg]
    program = gpg

[merge]
    tool = code
    autosquash = true
    autostash = true

[mergetool]
    writeToTemp = true
    keepBackup = false

[mergetool "code"]
    cmd = code --wait -m $REMOTE $LOCAL $BASE $MERGED

[pull]
    rebase = false

[push]
    default = simple  # current
    autoSetupRemote = true
    followTags = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[receive]
    fsckObjects = true

[remote]
    pushdefault = origin

[rerere]
    enabuled = true
    autoupdate = true

[tag]
    sort = version:refname

[transfer]
    fsckobjects = true

[user]
    name = "Brett Cannon"
    email = "brett@python.org"

[includeIf "gitdir/i:microsoft/"]
    path = .git_/work.gitconfig
[include]
    path = .git_/local.gitconfig
