# https://jvns.ca/blog/2024/02/16/popular-git-config-options/
[color "status"]
    added = green bold
    branch = yellow black bold ul
    changed = yellow bold
    deleted = red strike
    untracked = cyan

[core]
    excludesfile = .git_/gitignore

[diff]
    algorithm = histogram

[fetch]
    fsckobjects = true

[init]
   defaultBranch = main

[merge]
    conflictstyle = zdiff3

[gpg]
    program = gpg

[merge]
    tool = code
    autosquash = true
    autostash = true

[mergetool]
    writeToTemp = true
    keepBackup = false

[mergetool "code"]
    cmd = code --wait -m $REMOTE $LOCAL $BASE $MERGED

[pull]
    rebase = false

[push]
    default = current

[receive]
    fsckObjects = true

[remote]
    pushdefault = origin

[rerere]
    enabuled = true

[transfer]
    fsckobjects = true

[user]
    name = "Brett Cannon"
    email = "brett@python.org"

[includeIf "gitdir/i:microsoft/"]
    path = .git_/work.gitconfig
[include]
    path = .git_/local.gitconfig


[checkout]
	workers = 0
